html{
    background: #e3e3e3;
}

nav{
  background: #242424;
  display:flex;
  position:sticky; 
  top: 0; 
}

a{
  padding-top:10px;
  padding-bottom:10px;
  color:white;
  flex: auto;
  text-decoration: none;
  text-align: center;
font-size: 20px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    padding: 50px;
    color: #242424;
    border-top: 10px solid #242424;
    background: white;
}

[id=blog]{
  display:flex;
}

article:nth-of-type(1){
  flex:1;
  margin: 30px;
}
article:nth-of-type(2){
  flex:1;
  margin: 30px;
}

h1{
    font-size: 3em;
    font-style: italic;
    margin: 0;
}

h2{
  font-stretch: expanded;
  padding: 20px;
}

h3{
    font-style: italic;
    font-stretch: expanded;

}

h4{
    font-style: italic;
    font-stretch: expanded;
}

p{
    line-height: 1.5em;
}

#blog{
    border-top: 1px dotted #ccc;
}

.blog-post{
    border-bottom: 1px solid #ccc;
}

[id = table]{
    background:rgb(172, 222, 221);
    font-style: italic;
    border: 5px solid black;
}

.about_img{
    display: flex;
    float: left;
    padding-right: 30px;
}

img {
  width: 100%;
}

@media (max-width: 400px) {
  #blog{
    display: inline-block;
  }
} 